.logo-container,
.icon-container {
  align-items: center;
}

.logo-container {
  color: var(--green);
  font-size: 40px;
  gap: 5px;
  width: fit-content;
}

.logo-text {
  font-family: "Righteous", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1px;
}

.brown-logo-text {
  color: var(--brown);
}
